<!DOCTYPE html>
<html>
<head>
  <title>My App</title>
</head>
<body>
  <% if (success_msg) { %>
    <p><%= success_msg %></p>
  <% } %>
  <% if (error_msg) { %>
    <p><%= error_msg %></p>
  <% } %>
  <%- body %>
</body>
</html>
